

/* introduction */
#intro{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 230px;
    font-family: Calligraffitti;
  }
  /* services section */
  #services {
      background-image: url('../assets/backgrounds/s_image.jpg');
      color: #fff;
      margin-bottom: 50px;
      background-position: center;
      padding-top: 120px;
      padding-bottom: 80px;
      background-size: cover;
      font-family: Carter One;
  }


  /* whatWeDo */

  #whatWeDo{
    font-family:Belleza
       margin-bottom: 4%;
       cursor: pointer;
       font-size: 30px;
       font-family: Paprika;
    }
    .what {
        margin-bottom: 30px;
    }
    .toggle{
        display: none;
        font-family: Amarante;
    }
    p{
      font-family: Paprika;
  
    }
    h2{
      font-family: Paprika;
    }
