

/* introduction */
#intro{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 230px;
    font-family: Calligraffitti;
  }
  /* services section */
  #services {
      background-image: url('../assets/backgrounds/s_image.jpg');
      color: #fff;
      margin-bottom: 50px;
      background-position: center;
      padding-top: 120px;
      padding-bottom: 80px;
      background-size: cover;
      font-family: Carter One;
  }


  /* whatWeDo */

  #whatWeDo{
    font-family:Belleza;
       margin-bottom: 4%;
       cursor: pointer;
       font-size: 30px;
       font-family: Paprika;
    }
    .what {
        margin-bottom: 30px;
    }
    .toggle{
        display: none;
        font-family: Amarante;
    }
    p{
      font-family: Paprika;
  
    }
    h2{
      font-family: Paprika;
    }

  #logo{
      padding-bottom: 50px;
  }
  #mouseClick{
      padding-top: 200px;
      padding-bottom: 30px;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  #first {
      padding-top: 14%;
      margin-bottom: 9%;
  }
  .logo {
      padding-top: 9%;
      margin-bottom: 3%;
  }

  #logo{
      padding-bottom: 50px;
  }
  #mouseClick{
      padding-top: 200px;
      padding-bottom: 30px;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  #first {
      padding-top: 14%;
      margin-bottom: 9%;
  }
  .logo {
      padding-top: 9%;
      margin-bottom: 3%;
  }

  h6 {
    height: 1vh;
}

.aboutUs {
text-align: center;
color: black;
font-size: small;
font-family: Forum;
}
.col-md-12 {
    width: 100%;
    color: #fff;
    font-family: Imprima;
    font-size: calc(1vw + 1vh + .5vmin);
    font-size: 1.1em;
}
h1 {
    font-family: Elsie;
}
  .card:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.card-1 {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.582);
    cursor: pointer;
    display: none;
    transition: all 0.5s ease;
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.card-deck {
    padding: 1% 4%;
}